<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#instructor-panel" class="mdl-tabs__tab is-active">Instructor View</a>
      <a href="#student-panel" class="mdl-tabs__tab">Student View</a>
  </div>

  <div class="mdl-tabs__panel is-active content-width" id="instructor-panel">
  	<div class="mdl-color--blue-grey-100 small-tool-container" >
		<%= render 'create' %>
	</div>
	<%= render 'assignment_card_display' %>

	
  </div>
  <div class="mdl-tabs__panel content-width" id="student-panel">

  </div>
</div>



