<dialog id="a-c-dialog" class="mdl-dialog">
  <h4 class="mdl-dialog__title">Join which courses?</h4>
    <%= form_tag '/courses/add_students', method: 'post', remote: true do %>

  <div class="mdl-dialog__content">
    <div  tabindex="1" ></div> <!-- this div fixes an annoying visual tab selection issue -->






    <div id="add-course-dialog-body">

    </div>

    <input type="hidden" name="student_id" id="student-id" value="<%= current_user.id %>">




  </div>
  <div class="mdl-dialog__actions  mdl-dialog__actions--full-width">
      <%= submit_tag "Save Changes", class: "mdl-button save close-a-c" %>


    <button type="button" class="mdl-button close-a-c">Discard Changes</button>
  </div>
    <% end %>

</dialog>
