

<div class="mdl-color--blue-grey-100 relative">

<h3 class="grid-header">Assignments in this course:</h3>
<div class="padding-1 width-eighty-percent">
	<div class="mdl-color--deep-purple-100 mdl-chip-bank included-assignments">
		<% @course.assignments.each do |a| %>
			<div class="mdl-chip mdl-chip--deletable" data-assignment-id="<%= a.id %>">
			    <span class="mdl-chip__text"><%= a.name %></span>
			    <button type="button" class="mdl-chip__action"><i class="material-icons">find_in_page</i></button>
			</div>
		<% end %>

	</div>
	<div style="text-align: center; width: 100%">
	<button id="show-c-a-dialog" class="mdl-button mdl-js-button mdl-js-ripple-effect">
  		Add Assignment
	</button>
	</div>

</div>





</div>