<div class="mdl-color--blue-grey-100">
	<h3 class='page-header mdl-color-text--deep-purple'><%= @course.name %></h3>
</div>	

<%= render 'student_card_display' %>

<%= render 'assignment_chip_display' %>

