<div class="mdl-color--blue-grey-100">
	<h3 class='page-header mdl-color-text--deep-purple'><%= @course.name %></h3>
	<h4 class='page-header mdl-color-text--deep-purple'><%= @course.instructor.username %></h4>
</div>	