<% @courses.each do |c| %>
  <div class="mdl-grid mdl-color--primary">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-color--blue-grey-100 mdl-cell--center-align"><span><%= c.name %></span></div>
   
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-cell--center-align">
      <a href="<%= course_path(c) %>" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--custom-center mdl-button--full-width">
                <i class="material-icons mdl-color-text--deep-purple">find_in_page</i>
      </a>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-cell--center-align">
      <%= render partial: 'enroll_unenroll_button', locals: { course: c } %>

    </div>

  </div>

  

<% end %>