#assignment-image {
	width: 100%;
	height: 100%;
	position: relative;

}

#image-wrapper {
	width: 95%;
	margin: 0 auto;
	position: relative;
	max-height: auto;
	overflow: hidden;
	border: 1px solid black;
}

.assignment-divider, .active-assignment-divider {
	width: 100%;
	height: .1%;
	background-color: rgb(255,150,0);
	opacity: 0;
}

.assignment-divider:hover {
	opacity: .5;
}

#assignment-divider-wrapper, #active-assignment-divider-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
}

#new-div-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
}

.resizer { 
	width: 100%;
	height: 1em; 
	background: rgba(0,0,255,.4);
	position:absolute; 
	right: 0; 
	bottom: 0; 
	cursor: ns-resize; 
}

.auto-label {
	height: 5%;
	width: 100%;
	left: 0;
	background-color: rgba(255,195,55,.2);
	position: absolute;
	z-index: 3;
	cursor: pointer;
}

.auto-label-remover {
	width: 10px;
	height: 10px; 
	background: red;
	position:absolute; 
	right: 0; 
	top: 0; 
}








.auto-input {
	background-color: white;
	position: absolute;
	right: 0;
	top: 30%;
	height: 1em;
	width: 15em;
	opacity: 0;
}

.auto-input:focus {
	opacity: 1;
}